<!-- partials/footer.html -->
<footer class="footer text-center mt-5">
  <div class="container">
    <p>Unduh Aplikasi Kami di:</p>
    <a href="https://play.google.com/store" target="_blank">
      <img
        class="store-badge"
        src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
      />
    </a>
    <a href="https://www.apple.com/app-store/" target="_blank">
      <img
        class="store-badge"
        src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
      />
    </a>
    <p class="mt-3 mb-0">© 2025 Mola Fight Club. All rights reserved.</p>
  </div>
</footer>
