<!-- partials/sub-navbar.html -->
<nav class="navbar navbar-sub">
  <div class="container">
    <div class="navbar-nav w-100 justify-content-center flex-row flex-wrap">
      <a class="nav-item nav-link" href="index.html">Beranda</a>
      <a class="nav-item nav-link" href="howtoplay.html">Cara Bermain</a>
      <a class="nav-item nav-link" href="#">Tukar Point</a>
      <a class="nav-item nav-link" href="leaderboard.html">Papan Peringkat</a>
      <a class="nav-item nav-link" href="#">FAQ</a>
      <a class="nav-item nav-link" href="#">Tonton Pertandingan</a>
      <a class="nav-item nav-link text-danger font-weight-bold" href="#"
        >Live Prediksi Sekarang</a
      >
    </div>
  </div>
</nav>
